
.btn:hover .icon {
  width: calc(100% - 0.6em);
 }
 
@keyframes typing {
  from {
    width: 0;
    border-right: 0.15em solid;

  }

  to {
    width: 100%;
    border-right: none !important;
  }
}








::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

::-webkit-scrollbar-track {

  border: 7px solid #232943;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #1f2336, #3c4147);
  border-radius: 1rem;
}